.divider {
  width: 100%;
  height: 1px;
  margin-bottom: var(--n-6);
  background-color: var(--cs-border-secondary);
}

.n-pagers {
  display: grid;
  grid-template-areas: "PREV NEXT";
  grid-template-columns: 1fr 1fr;
  gap: var(--n-4);

  > .prev {
    grid-area: PREV;
  }

  > .next {
    grid-area: NEXT;
  }
}
