.logo-container {
  position: relative;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;

    > img {
      max-width: 100%;
      height: 20px;
    }
  }
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--n-2);
  flex: 1;
}
