.contents-container {
  padding: var(--n-4) var(--n-8);
  min-height: calc(100vh - 64px - var(--n-4) - var(--n-4) - var(--n-4));

  @media (max-width: 768px) {
    min-height: 100vh;
    padding: var(--n-8) var(--n-6);
  }
}

.background-cover {
  position: relative;
  display: grid;

  .gradient {
    position: absolute;
    grid-area: 1/1;
    user-select: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: linear-gradient(
      -45deg,
      #ee7752,
      #ff3482,
      var(--cs-background-primary),
      var(--cs-background-primary),
      #1fb2e7,
      #23d5ab
    );
    background-size: 400% 400%;
    animation: gradient 30s ease-in-out infinite;
    filter: blur(64px);
    height: 320px;
    width: 320px;
    border-radius: 50%;
    will-change: filter;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      25% {
        top: 55%;
        transform: translateY(-50%) translateX(-5%);
        left: -5%;
      }
      50% {
        background-position: 100% 50%;
        top: 45%;
        transform: translateY(-50%) translateX(5%);
        left: 5%;
      }
      75% {
        top: 55%;
        transform: translateY(-50%) translateX(-5%);
        left: -5%;
      }
      100% {
        background-position: 0% 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }

  div {
    grid-area: 1/1;
    z-index: 1;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: var(--n-8);
  min-height: calc(100vh - 64px - var(--n-4) - var(--n-4) - var(--n-4));

  > .links {
    display: grid;
    width: 100%;
    justify-items: end;
    gap: var(--n-2);
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - var(--n-4));
  }
}
