.n-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--n-2);
  align-items: center;
  width: 100%;
  height: 64px;
  padding: var(--n-4) var(--n-6);
  background-color: color-mix(in srgb, var(--cs-background-primary) 90%, transparent);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid var(--cs-border-tertiary);
  border-radius: var(--n-4);

  & > slot {
    color: red;
  }

  & > slot:not(:empty) {
    border: 2px solid blue; /* フォールバックコンテンツがあるスロットに青い実線枠を表示 */
    background-color: #e0f2fe;
    display: block;
    padding: 10px;
  }
}
