* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  overscroll-behavior-x: none;
  font-family: Poppins, "Noto Sans JP", sans-serif;
  color: var(--cs-text-primary);
  background-color: var(--cs-background-primary);
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: var(--n-3);
}

::-webkit-scrollbar-track {
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cs-border-primary);
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 100px;
}

#root {
  padding-top: calc(64px + var(--n-4) + var(--n-4));

  @media (width <= 768px) {
    padding-top: 0;
    padding-bottom: calc(64px + var(--n-4) + var(--n-4));
  }
}

#header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: var(--n-4) var(--n-8);

  @media (width <= 768px) {
    top: auto;
    bottom: 0;
    margin-bottom: env(safe-area-inset-bottom);
  }
}

footer {
  height: 240px;
}
