.contents-container {
  position: relative;
  display: grid;
  grid-template-areas: "NAV MAIN";
  grid-template-columns: auto 1fr;
  gap: var(--n-4);
  max-width: var(--max-screen-width);
  min-height: calc(100vh - 64px - var(--n-4) - var(--n-4) - var(--n-4));
  padding: var(--n-4) var(--n-4);
  margin: auto;

  @media (width <= 768px) {
    grid-template-areas: "MAIN MAIN";
    min-height: 100vh;
    padding: var(--n-8) var(--n-6);
  }

  > .nav-container {
    position: sticky;
    top: calc(64px + var(--n-4) + var(--n-4) + var(--n-4));
    grid-area: NAV;
    width: 256px;
    height: calc(100vh - 64px - var(--n-4) - var(--n-4) - var(--n-4));

    @media (width <= 768px) {
      display: none;
    }
  }

  > .main {
    grid-area: MAIN;

    > .breadcrumb {
      margin-bottom: var(--n-6);
    }
  }
}
