:host {
  box-sizing: border-box;
  font-family: Poppins, "Noto Sans JP", sans-serif;
}

.n-button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  padding: var(--n-3) var(--n-6);
  line-height: 1.25;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: var(--n-2);
  outline: none;
  transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    border-radius: var(--n-2);
    outline: 1px solid var(--cs-neutral-600);
    outline-offset: 0;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    &::after {
      outline-offset: 2px;
      opacity: 1;
    }
  }

  &:not([disabled]):active {
    transform: scale(0.99);
  }

  &.-auto {
    width: auto;
  }

  &.-small {
    padding: var(--n-2) var(--n-4);
  }

  &.-medium {
    padding: var(--n-3) var(--n-6);
  }

  &.-large {
    padding: var(--n-4) var(--n-8);
  }

  &.-anchor {
    display: inline-block;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--cs-border-secondary);
  }

  &.-primary,
  &.-secondary,
  &.-tertiary,
  &.-error {
    &[disabled] {
      cursor: not-allowed;
    }
  }

  &.-primary {
    color: var(--cs-neutral-100);
    background-color: var(--cs-neutral-900);

    &[disabled] {
      color: var(--cs-neutral-600);
      background-color: var(--cs-neutral-400);
    }

    &:not([disabled]):hover {
      background-color: var(--cs-neutral-800);
    }
  }

  &.-secondary {
    color: var(--cs-neutral-900);
    background-color: rgba(var(--cs-neutral-900), 0);
    outline: 1px solid var(--cs-neutral-400);

    &[disabled] {
      color: var(--cs-neutral-400);
      background-color: color-mix(in srgb, var(--cs-neutral-900) 5%, transparent);
    }

    &:not([disabled]):hover {
      background-color: color-mix(in srgb, var(--cs-neutral-900) 5%, transparent);
    }

    &:not([disabled]):focus-visible,
    :not([disabled]):focus {
      outline-offset: 0;
    }
  }

  &.-tertiary {
    color: var(--cs-text-primary);
    background-color: transparent;

    &[disabled] {
      color: var(--cs-neutral-400);
      background-color: transparent;
    }

    &:not([disabled]):focus,
    &:not([disabled]):hover {
      background-color: color-mix(in srgb, var(--cs-neutral-900) 5%, transparent);

      &::after {
        outline-offset: 2px;
        opacity: 0;
      }
    }
  }

  &.-error {
    color: var(--p-neutral-100);
    background-color: var(--p-red-600);

    &[disabled] {
      color: var(--p-red-200);
      background-color: var(--p-red-400);
    }

    &:not([disabled]):hover {
      background-color: var(--p-red-700);
    }
  }

  > .contents {
    display: flex;
    gap: var(--n-1);
    justify-content: center;
    font-weight: 500;
  }
}
