:host {
  box-sizing: border-box;
  width: auto;
  font-family: Poppins, "Noto Sans JP", sans-serif;
}

:where(:not([disabled]):focus-visible, :not([disabled]):focus) {
  outline: 1px solid var(--cs-neutral-600);
  outline-offset: 2px;
}
