.n-anchor {
  display: inline-flex;
  gap: var(--n-1);
  align-items: last baseline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--cs-border-secondary);
  text-underline-offset: 4px;
  white-space: pre-wrap;
  cursor: pointer;
  transition: 0.1s;

  &.-none {
    text-decoration: none;
  }

  &.-solid {
    text-decoration: underline;
  }

  &.-dashed {
    text-decoration: underline dashed;
  }

  &.-dotted {
    text-decoration: underline dotted;
  }

  &:hover {
    color: var(--p-app-500);
    text-decoration: underline solid;
  }

  > .blank {
    position: relative;
    bottom: -2px;
  }
}
