.n-anchor {
  display: inline-flex;
  gap: var(--n-1);
  align-items: last baseline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--cs-border-secondary);
  text-underline-offset: 4px;
  white-space: pre-wrap;
  cursor: pointer;
  transition: 0.1s;

  &[aria-disabled] {
    color: var(--cs-text-secondary);
    cursor: default;

    &:hover {
      color: var(--cs-text-secondary);
      text-decoration-color: var(--cs-border-secondary);
      text-decoration-line: underline;
    }
  }

  &.-none {
    text-decoration-style: none;
  }

  &.-solid {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  &.-dashed {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }

  &.-dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  &:hover {
    color: var(--p-app-500);
    text-decoration-color: var(--p-app-500);
    text-decoration-line: underline;
  }

  > .blank {
    position: relative;
    bottom: -2px;
  }
}
